.DS_Store
dataset/
Tutorial/
data/
galleries/
metastore_db/
.metadata/
.ipynb_checkpoints/
logs/
*.pyc
*.log
*.csv
*.tsv
*.pkl
part-*
project/project/
project/target/
target/
tmp/
bin
.cache
.classpath
.project
.settings
.target

.DS_Store
.metadata/
